<?xml version="1.0"?>
<configuration>
  <appSettings file="..\appSettings.xml">
  </appSettings>
  <system.net>
    <defaultProxy useDefaultCredentials="true" />
    <settings>
      <servicePointManager expect100Continue="false" useNagleAlgorithm="false"/>
    </settings>
    <connectionManagement>
      <add address="*" maxconnection="12"/>
    </connectionManagement>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
