<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Default.Conn" value="DSN=Dalet51E_Raykoke;"/>
    <add key="Default.Owner" value="dalet_group"/>
    <add key="Default.SFUnit" value="SFUnit1"/>
    <add key="Default.Type" value="Audio"/>
    <add key="Default.Interface" value="Standard"/>
    <add key="Default.EndDateDays" value="1000"/>
  </appSettings>
</configuration>
