<?xml version="1.0"?>
<configuration>

  <appSettings file="appSettings.xml">
    <!-- Oracle
    
    <add key="Db.Server" value="." /> 
    <add key="Db.User" value="gn4" /> 
    <add key="Db.Pwd" value="gn4" /> 
    <add key="Db.Name" value="gn4" /> 
    <add key="Db.OleDbInitString" value="Provider=OraOLEDB.Oracle;User ID=&amp;User;Password=&amp;Pwd;Data Source=&amp;Name;OLEDB.NET=true" /> 
    
    -->
    <!-- SQL Server -->

    <add key="Db.Server" value="."/>
    <add key="Db.User" value=""/>
    <add key="Db.Pwd" value=""/>
    <add key="Db.Name" value="gn4"/>
    <add key="Db.OleDbInitString" value=""/>

    <!-- Not dependent on the SQL -->

    <add key="Db.RootVolumeUrl" value="file:///c:/"/>

    <!-- Logging -->
    <add key="Db.LogDir" value=""/>
    <!-- 1d = one day splitting -->
    <!--
    <add key="Db.LogSplit" value="1d" />
    <add key="Db.LogEvents" value="All" />
    <add key="Db.EventViewer" value="false"/>
    -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.3.0" newVersion="4.4.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
