<?xml version="1.0"?>
<configuration>
  <appSettings file="..\appSettings.xml">
    <add key="UI.Language" value=""/>

    <!-- Plugins configuration -->
    <add key="Plugins.Parse" value="ParseArchive; ParseImg; ParseMultimedia; ParseAPDFL; ParseOffice; ParseAdobe; ParseText;"/>
    <add key="Plugins.Convert" value="ParseImg; ParseMultimedia; ParseAPDFL; ParseOffice; ParseText;"/>
    <add key="Plugins.Extract" value="ParseArchive;"/>

    <add key="ParseAPDFL.DefaultCMYKProfile" value="Photoshop5DefaultCMYK.icc"/>
    <add key="ParseAPDFL.Box" value="boxCrop"/>
    <add key="ParseAPDFL.Rotate" value="true"/>
  </appSettings>
  <system.net>
    <defaultProxy useDefaultCredentials="true" />
    <settings>
      <servicePointManager expect100Continue="false" useNagleAlgorithm="false"/>
    </settings>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
