<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Port" value="7374"/>
    <add key="Instance" value=""/>
    <add key="File4Dalet.ConnectionString" value="Provider=SQLOLEDB.1;AutoTranslate=No;Data Source=.\SQLExpress;Initial Catalog=File4;Integrated Security=SSPI"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
